<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.kaiyima.autismappjam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationListActivity"
            android:label="@string/title_navigation_list"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".NavigationDetailActivity"
            android:label="@string/title_navigation_detail"
            android:parentActivityName=".NavigationListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wordpress.kaiyima.autismappjam.NavigationListActivity" />
        </activity>
    </application>

</manifest>